.jumbotron {
    margin-bottom: 0px;
    background-image: url(/images/background-sky.png);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
}

.description{
  font-weight: bold;
  font-size: 20px;
  vertical-align: bottom;
}

.location{
  font-size: 18px;
}

.footer{
  font-weight: bold;
  text-align: center;
}

.td-weather{
  font-weight: bold;
  font-size: 9px;
  text-align: left;
}

.date-sum{
  font-weight: bold;
  font-size: 10px;
  text-align: center;
}

td{
  text-align: center;
}

.td-icon{
  align-content: center;
  text-align: center;
}

.spinner{
  /*display: inline-block;
  margin: 20px 20px;*/
  text-align: center;
  font-weight: bold;

  height: 300px;
  display: -webkit-flex;
  display:         flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
         justify-content: center;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 20px;
  background-color: white;
  width: 100%;
}
